<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Promo</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/promo.css">
</head>
<body>
    <header class="top-nav">
    <div class="out-logo">
        <div class="logo">
            <div class="logo-group">
                <img src="svg/Group.svg" alt="">
            </div>
            <span>StoreBundle</span>
        </div>
    </div>
    <div class="menu">
        <span class="line-1"></span>
        <div class="imgBg">
            <img src="svg/grid-fill.svg" alt="">
        </div>
    </div>
<!--    <div class="line-2"></div>-->
    <div class="text">
        <span>My Account<i class="text-icon"><img src="svg/arrows.svg" alt=""></i></span>
    </div>
</header>
    <div class="promo-main">
        <section class="create-promo">
            <div class="frame-bar">
                <div class="left-bar">
                    <div class="imgBx"><img src="svg/Groupcreate.svg" alt=""></div>
                    <h3>Create Promo Bar</h3>
                </div>
                <div class="button-group">
                    <button class="btn-white">Exit</button>
                    <button class="btn-pink"><span>Save</span><i><img src="svg/Grouparrow-down.svg" alt=""></i></button>
                </div>
            </div>
        </section>

        <section class="promo-form-details">
            <form>
                <div class="input-group">
                    <div class="input-box">
                        <label for="">Type of Promo Bar</label>
                            <select name="" id="">
                                <option value="">Text Bar</option>
                            </select>
                    </div>
                    <div class="input-box">
                        <div class="input-box-split">
                            <label for="">Background Color</label>
                            <div class="input-text-position"><input type="text" placeholder="#504670" id=""><span></span></div>
                        </div>
                        <div class="input-box-split">
                            <label for="">Text Color</label>
                            <div class="input-text-position"><input type="text" placeholder="#FFFFFF" id=""><span></span></div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <label for="">Bar Name</label>
                        <input type="text" placeholder="Type Bar Name here..." id="">
                    </div>
                    <div class="input-box">
                        <label for="">Message</label>
                        <input type="text" name="" id="" placeholder="Type your promo message here...">
                    </div>
                </div>
            </form>
        </section>

    </div>

</body>
</html>